<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twitterclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.example.twitterclient.activities.helpers.TwitterClientApp" >
        
        <meta-data android:name="AA_DB_NAME" android:value="twitter.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="7" />
        
        <activity
            android:name="com.example.twitterclient.activities.LoginActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="twitterclient"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.twitterclient.activities.TimelineActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.twitterclient.activities.ComposeTweetActivity"
            android:label="@string/title_activity_compose_tweet"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name="com.example.twitterclient.activities.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail" >
        </activity>
    </application>

</manifest>
